<div class="app-container">
    <div class="app-sidebar">
        <h2>Perica's Workspace</h2>
        <a [routerLink]="'/admin'" class="sidebar-link">Boards</a>
        <div class="app-sidebar__boards">
            <h4>My Boards</h4>
            <button (click)="modalService.openModal()" class="sidebar-link">+</button>
        </div>
        <div class="app-sidebar__boards--list">
            <div *ngFor="let board of boards" [routerLink]="['/board', board.id]" class="sidebar-link">
                {{ board.name }}
            </div>
        </div>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>

    <app-create-board-modal
        *ngIf="(modalService.isModalOpen$ | async)"
        (close)="modalService.closeModal()"
        (boardCreated)="onBoardCreated()"
    ></app-create-board-modal>
</div>