@import './app/mixins';

body {
  font-family: "Roboto", sans-serif;
  background-color: #1c1c1c; /* Dark background */
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  
  @include respond-to(mobile) {
    font-size: 80%;
   }
}
